#app {
    font-family: 'Montserrat', sans-serif;
}

.router-link-exact-active {
    font-weight: bold;
}

.btn-success {
    background-color: orange;
}

.badge-success {
    background-color: orange;
}

body {
    background-color: rgb(208, 172, 104);
}

.card-product {
    border-radius: 50px;
}

.card-img-top {
    border-radius: 50px;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
}

.breadcrumb-item.active {
    font-weight: bold;
    color: black;
}

.img-fluid {
    border-radius: 15px;
}